@inherits LayoutComponentBase
@inject IAuthenticationAPI API

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <AuthorizeView>
            <Authorized>
                <div class="px-2">
                    <a href="/login" @onclick="(() => Logout())" target="_self">Logout</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="px-2">
                    <a href="/login" target="_self">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <div class="px-2">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
    </div>


    <div class="content px-4">
        @Body
    </div>
</div>


@code {
    public void Logout()
    {
        API.LogoutUser();
    }
}