@inherits LayoutComponentBase
@inject IAuthenticationAPI API
@inject IUnitOfWork UnitOfWork
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="top-row">
                <div class="px-3">
                    <a href="/profile/@currentUser.Id">@currentUser.FirstName @currentUser.LastName</a>
                </div>
                <div class="px-3">
                    <a href="/" @onclick="(() => Logout())" target="_self">Logout</a>
                </div>
                <div class="px-3">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>



@code {

    private User currentUser;

    protected override async Task OnInitializedAsync()
    {
        currentUser = new User();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        string username = await SessionStorage.GetItemAsync<string>("username");
        currentUser = UnitOfWork.Users.GetByUsername(username);
        StateHasChanged();
        await base.OnAfterRenderAsync(firstRender);
    }

    public void Logout()
    {
        API.LogoutUser();
    }
}