@inherits LayoutComponentBase
@inject IAuthenticationAPI API


<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="top-row">
                <div class="px-2">
                    <a href="/" @onclick="(() => Logout())" target="_self">Logout</a>
                </div>
                <div class="px-2">
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>



@code {

    public void Logout()
    {
        API.LogoutUser();
    }
}