@page "/followers"
@inject IFollowerAPI FollowerAPI
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

@if (followers.Count == 0)
{
    <h2>You have no followers</h2>
}

@code {
    private List<User> followers;

    protected override async Task OnInitializedAsync()
    {
        followers = new List<User>();
        await base.OnInitializedAsync();
    }
}
