@page "/"
@page "/home"
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

<AuthorizeView>
    <Authorized>
        <p>Chat page</p>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

@code {

}
