@page "/"
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

<h2>Hello world!</h2>
<p>Welcome @Username</p>

@code {

    private string Username;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Username = await SessionStorage.GetItemAsync<string>("username");
        StateHasChanged();
    }
}
