@page "/"
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

<AuthorizeView>
    <Authorized>
        <h2>Hello world!</h2>
        <p>Welcome @Username</p>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

@code {

    private string Username;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Username = await SessionStorage.GetItemAsync<string>("username");
        StateHasChanged();
    }
}
