@page "/profile/{id:int}"
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage
@inject IUnitOfWork UnitOfWork
@inject IFollowerAPI FollowerAPI


<div style="padding: 20px;">
    <h2>@user.FirstName @user.LastName</h2>
    @if (currentUser.Id != user.Id)
    {
        @if (FollowerAPI.HasRequestFrom(currentUser.Id, user.Id))
        {
            <button @onclick="(() => AcceptRequest(currentUser.Id, user.Id))">Accept Request</button>
            <button @onclick="(() => RejectRequest(currentUser.Id, user.Id))">Reject Request</button>
        }
        @if (FollowerAPI.HasRequestFrom(user.Id, currentUser.Id))
        {
            <button @onclick="(() => CancelRequest(user.Id, currentUser.Id))">Cancel Follow Request</button>
        }
        else if (FollowerAPI.HasFollower(user.Id, currentUser.Id))
        {
            <button @onclick="(() => UnFollowUser(user.Id))">Unfollow</button>
        }
        else
        {
            <button @onclick="(() => FollowUser(user.Id))">Follow</button>
        }
    }
    else
    {
        string status = (currentUser.IsPublic == 1) ? "Private" : "Public";
        <button>Make your account @status</button>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private User user;
    private User currentUser;

    protected override async Task OnInitializedAsync()
    {
        user = new User();
        currentUser = new User();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        string currentUsername = await SessionStorage.GetItemAsync<string>("username");
        user = UnitOfWork.Users.Get(Id);
        currentUser = UnitOfWork.Users.GetByUsername(currentUsername);
        StateHasChanged();
        await base.OnAfterRenderAsync(firstRender);
    }



    private void FollowUser(int userId)
    {
        try
        {
            FollowerAPI.SendFollowRequest(userId, currentUser.Id);
        }
        catch { }
    }

    private void UnFollowUser(int userId)
    {
        try
        {
            FollowerAPI.Unfollow(userId, currentUser.Id);
        }
        catch { }
    }

    private void AcceptRequest(int userId, int followerId)
    {
        try
        {
            FollowerAPI.AcceptFollowRequest(userId, followerId);
        }
        catch (Exception)
        {
        }
    }

    private void RejectRequest(int userId, int followerId)
    {
        try
        {
            FollowerAPI.RejectFollowRequest(userId, followerId);
        }
        catch (Exception)
        {
        }
    }

    private void CancelRequest(int userId, int followerId)
    {
        try
        {
            FollowerAPI.CancelRequest(userId, followerId);
        }
        catch (Exception)
        {
        }
    }
}
